* {
    box-sizing: border-box
}

body{
    font-size: 18px;
    line-height: 34px;
    font-family: Arial, Helvetica, sans-serif, helvetica neue;
    color: #777;
}

section.wrapper {
    background-color: purple;
    max-width: 960px;
    margin: 0 auto;
}

#masthead {
    background-color: bisque;
    width: 100%;
    z-index: -1;
}
h1 {
    font-size: 32px;
    padding: 20px;
    border-bottom: 25px;
    border-color: black;


}
a {

}

.image {
    clear: both;
    width: 200px;
    height: auto;
    float: left;
    margin-right: 20px;

}

#logo{
    clear: both;
    overflow:auto;
    
}

.footer {
    position:fixed;
    padding-bottom: 0%;
    margin-bottom: 0%;
    background-color: blue;
    width: 100%;
    line-height: 100px;

}